.container {
    padding: 8px;
    min-height: 288px;
    min-width: 100%;
    position: relative;
    background-color: #f1f3f6;
    margin-top: 1px;
}
.container img {
    min-height: 288px;
    width: 100%;
    padding-top: 8px;
    object-fit: cover;
}
.left {
    background-color: hsla(0,0%,100%,.98);
    box-shadow: 0 1px 5px 0 rgb(0 0 0 / 11%);
    height: 104px;
    width: 47px;
    position: absolute;
    top: calc(50% - 52px);
    transition: opacity .1s ease-in;
    justify-content: space-around;
    left: 12px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}
.right {
    background-color: hsla(0,0%,100%,.98);
    box-shadow: 0 1px 5px 0 rgb(0 0 0 / 11%);
    height: 104px;
    width: 47px;
    position: absolute;
    top: calc(50% - 52px);
    transition: opacity .1s ease-in;
    justify-content: space-around;
    right: 12px;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}
.left img {
    min-height: 27px;
    width: 14.6px;
    top: 30%;
    left: 30%;
    position: absolute;
}
.right img {
    min-height: 27px;
    width: 14.6px;
    top: 30%;
    left: 30%;
    position: absolute;
}
.bank-offer img{
  width: 100%;
  height: 107px;
  object-fit: cover;
}